/* default styles */

:root {
	--orange: #fc841c;
	--violet: #7061f0;
	--pink: #ff007b;
	--lilac: #dbacde;
	--palelilac: #f9dbf7;
	--green: #00c896;
	--yellow: #f3cf31;
	--white: #fff6f6;
	--navy: #413a7e;
}

html {
	scroll-behavior: smooth;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-content: center;
	font-family: "Quicksand", sans-serif;
	background: var(--white);
}

.index-body {
	padding-top: 5vh;
}

h1 {
	color: var(--pink);
	font-weight: 600;
	font-size: 3.5rem;
	margin: 0;
}

h2 {
	color: var(--violet);
	font-weight: 600;
	font-size: 3rem;
	margin: 0;
}

h3 {
	color: var(--lilac);
	font-weight: 600;
	font-size: 2rem;
	margin: 0;
}

p {
	color: var(--navy);
	font-weight: 400;
	font-size: 1.75rem;
	margin: 0;
	line-height: 1.5;
}

a {
	text-decoration: none;
	font-weight: 500;
}

.on-page {
	text-decoration: underline var(--orange);
}

.primary-btn {
	border-style: none;
	border-radius: 25px;
	background-color: var(--green);
	font-family: "Quicksand", sans-serif;
	font-weight: 600;
	font-size: 1.8rem;
	color: var(--white);
	padding: 0.5vh 1vw;
	margin: 1vh 0;
}

.secondary-btn {
	border-radius: 50%;
	border-style: none;
	background-color: var(--green);
	font-family: "Quicksand", sans-serif;
	font-weight: 400;
	font-size: 2rem;
	color: var(--white);
	width: 60px;
	height: 60px;
	writing-mode: vertical-rl;
	text-orientation: sideways-right;
}

.primary-btn:hover,
.secondary-btn:hover {
	background-color: var(--palelilac);
	color: var(--violet);
}

/* navbar */
.navbar {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	width: 100vw;
	position: fixed;
	background-color: var(--white);
	top: 0;
}

.nav-title {
	min-width: 175px;
	text-decoration: none;
}

.nav-links {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	min-width: 300px;
	font-size: 1.5rem;
	margin: 0.5vw;
}

.nav-links a:hover {
	text-decoration: underline var(--orange);
	text-decoration-thickness: 3px;
}

.socials {
	margin-left: auto;
	margin-right: 2vw;
}

/* introduction */
.intro {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	padding-top: 17.5vh;
}

.intro-text {
	text-align: center;
	margin-right: 5vw;
}

.intro-text a {
	text-decoration: underline var(--orange);
	text-decoration-thickness: 3px;
	color: var(--navy);
}

#shape-1 {
	fill: var(--yellow);
}

.image {
	position: absolute;
}

#profile-img {
	border-radius: 50%;
	width: 22vw;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	padding-left: 3vw;
}

/* project section containers */
.project {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	height: 100vh;
}

#project-2 {
	flex-direction: row-reverse;
}

/* project description & next button */
.project-info {
	display: flex;
	flex-direction: column;
	width: 30vw;
	margin: 0 1vw;
}

.project-info a,
.project-info a:active,
.project-info a:visited,
.about a {
	text-decoration: underline var(--orange);
	text-decoration-thickness: 3px;
	color: var(--navy);
}

.project-info a:hover,
.intro-text a:hover,
.about a:hover {
	text-decoration: underline var(--lilac);
	text-decoration-thickness: 3px;
}

/* project shapes, images & container */
.display-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 32.5vw;
}

#shape-2 {
	fill: var(--lilac);
}

#shape-3 {
	fill: var(--violet);
}

#shape-4 {
	fill: var(--orange);
}

.project-img {
	width: 28vw;
	position: absolute;
}

.display-container:hover .project-img {
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-webkit-transition: opacity 0.5s ease-in-out;
}

/* external project links */
.project-btn {
	border-radius: 50%;
	border-style: none;
	background-color: var(--green);
	font-family: "Quicksand", sans-serif;
	font-weight: 400;
	font-size: 2rem;
	color: var(--white);
	width: 8.5vw;
	height: 8.5vw;
	position: absolute;
	transition: opacity 0.35s ease;
	opacity: 0;
}

.project-btn:hover {
	background-color: var(--yellow);
	color: var(--white);
}

.site {
	top: 35%;
	left: 20%;
}

.github {
	top: 35%;
	left: 60%;
}

.display-container:hover .project-btn {
	opacity: 1;
	transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-webkit-transition: opacity 0.5s ease-in-out;
}

/* other shapes */
#shape-5 {
	fill: var(--pink);
}

#shape-6 {
	fill: var(--green);
}

#shape-7 {
	fill: var(--yellow);
}

#shape-8 {
	fill: var(--palelilac);
}

/* temp about page */
.about {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 90vh;
	text-align: center;
}
