/* default styles */

:root {
	--orange: #fc841c;
	--violet: #7061f0;
	--pink: #de2874;
	--lilac: #deacd4;
	--palelilac: #e3d6dd;
	--green: #0ccd96;
	--yellow: #f0c91e;
	--white: #fff6f6;
	--navy: #342f43;
	--grey: #363636;
}
html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-content: center;
	font-family: "Quicksand", sans-serif;
	background: var(--white);
}

.index-body {
	padding-top: 5vh;
}

h1 {
	font-weight: 600;
	font-size: 3.5rem;
	margin: 0;
}

h2 {
	color: var(--yellow);
	font-weight: 600;
	font-size: 2.75rem;
	margin: 0;
}

h3 {
	color: var(--navy);
	font-weight: 600;
	font-size: 2rem;
	margin: 0;
}

h4 {
	font-weight: 400;
	font-size: 1.4rem;
	margin: 0;
	line-height: 1.5;
	padding-top: 2.5vh;
}

p {
	font-weight: 400;
	font-size: 1.75rem;
	margin: 0;
	line-height: 1.5;
}

a {
	text-decoration: none;
	font-weight: 500;
}

.on-page {
	text-decoration: underline var(--lilac);
}

.primary-btn {
	border-style: none;
	border-radius: 25px;
	background-color: var(--green);
	font-family: "Quicksand", sans-serif;
	font-weight: 600;
	font-size: 1.8rem;
	color: var(--white);
	padding: 1vh 2vw 1.25vh 2.25vw;
	margin: 1vh 0;
}

#arrow {
	writing-mode: vertical-rl;
	text-orientation: sideways-right;
	padding-top: 0.5vh;
	font-size: 1.4rem;
}

.secondary-btn {
	border-radius: 50%;
	border-style: none;
	background-color: var(--green);
	font-family: "Quicksand", sans-serif;
	font-weight: 400;
	font-size: 2rem;
	color: var(--white);
	width: 60px;
	height: 60px;
	writing-mode: vertical-rl;
	text-orientation: sideways-right;
}

.primary-btn:hover,
.secondary-btn:hover {
	background-color: var(--lilac);
	color: var(--white);
}

/* navbar */
.navbar {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	width: 100vw;
	height: 9vh;
	position: fixed;
	background-color: var(--white);
	left: 0;
	top: 0;
	z-index: 1;
}

.nav-title {
	min-width: 175px;
	text-decoration: none;
	margin-left: 1vw;
}

.nav-links {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	min-width: 300px;
	margin: 0.5vw;
}

.nav-links a:hover {
	text-decoration: underline var(--lilac);
	text-decoration-thickness: 3px;
}

.socials {
	margin-left: auto;
	margin-right: 2vw;
}

/* introduction */
.intro {
	background-color: var(--palelilac);
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	padding-top: 10vh;
	padding-left: 10vw;
	padding-right: 15vw;
	height: 80vh;
}

.intro-text {
	text-align: center;
	margin-right: 5vw;
	color: var(--navy);
}

.intro-text a {
	text-decoration: underline var(--orange);
	text-decoration-thickness: 3px;
	color: var(--navy);
}

#shape-1 {
	fill: var(--yellow);
}

.image {
	position: absolute;
}

#profile-img {
	border-radius: 50%;
	width: 22vw;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	padding-left: 4vw;
}

/* project section containers */
.project {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	height: 100vh;
}

#project-2 {
	flex-direction: row-reverse;
}

/* project description & next button */
.project-info {
	display: flex;
	flex-direction: column;
	width: 30vw;
	margin: 0 1vw;
	padding-left: 2vw;
	position: absolute;
	color: var(--white);
}

.project-info a,
.project-info a:active,
.project-info a:visited,
.about a {
	text-decoration: underline var(--orange);
	text-decoration-thickness: 3px;
	color: var(--navy);
}

.project-info a:hover,
.intro-text a:hover,
.about a:hover {
	text-decoration: underline var(--lilac);
	text-decoration-thickness: 3px;
}

/* project shapes, images & container */
.display-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 40vw;
}

#shape-2 {
	fill: var(--lilac);
}

#shape-3 {
	fill: var(--violet);
}

#shape-4 {
	fill: var(--pink);
}

.project-img {
	width: 40vw;
	position: absolute;
}

.display-container:hover .project-img {
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-webkit-transition: opacity 0.5s ease-in-out;
}

/* external project links */
.project-btn {
	border-radius: 50%;
	border-style: none;
	background-color: var(--green);
	font-family: "Quicksand", sans-serif;
	font-weight: 400;
	font-size: 2rem;
	color: var(--white);
	width: 8.5vw;
	height: 8.5vw;
	position: absolute;
	transition: opacity 0.35s ease;
	opacity: 0;
}

.project-btn:hover {
	background-color: var(--yellow);
	color: var(--white);
}

.site {
	top: 35%;
	left: 20%;
}

.github {
	top: 35%;
	left: 60%;
}

.display-container:hover .project-btn {
	opacity: 1;
	transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-webkit-transition: opacity 0.5s ease-in-out;
}

/* other shapes */
.float-shape {
	width: 15vw;
	position: absolute;
}

#fs-1 {
	top: 175%;
	left: -8%;
}
#fs-2 {
	top: 275%;
	right: 0%;
}
#fs-3 {
	top: 170%;
	left: 40%;
}
#fs-4 {
	top: 170%;
	left: 20%;
}

#shape-5 {
	fill: var(--pink);
}
#shape-6 {
	fill: var(--green);
}
#shape-7 {
	fill: var(--yellow);
}
#shape-8 {
	fill: var(--palelilac);
}

/* temp about page */
.about {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 90vh;
	text-align: center;
}
